%h2 New Card
%ul
  - @task.errors.full_messages.each do |message|
    %li.errors= message
= form_with(model: @task, url: board_tasks_path(@board.id), local: true) do |f|
  .field
    = f.label :title, 'Name'
    %br/
    = f.text_field :title, class: 'form'
  .field
    = f.label :content, 'Description'
    %br/
    = f.text_area :content, class: 'form form2'
  .field
    = f.label :deadline, 'Deadline'
    %br/
    = f.date_field :deadline, class: 'form'

  = f.submit 'Submit' , class: 'form btn'
