%h2= @board.title
.block.board
  .block-title
    = link_to root_path do
      %h3 task title
  .block-content
    %p task content
  .menu-btn.dropdown
    = image_tag 'Combined Shape.png'
    .dropdown-menu
      = link_to 'Edit', root_path
      = link_to 'Delete', root_path
= link_to root_path do
  .block.new-block
    %p + Add new task
