<h2><%= @board.title %></h2>

<div class="block board">
    <div class="block-title">
        <%= link_to root_path do%>
            <h3>task title</h3>
        <% end %>
    </div>       
    <div class="block-content">
        <p>task content</p>
    </div>
    <div class="menu-btn dropdown">
        <%= image_tag 'Combined Shape.png' %>
        <div class="dropdown-menu">
            <%= link_to 'Edit', root_path %>
            <%= link_to 'Delete', root_path %>
        </div>
    </div>
</div>


<%= link_to root_path do %>
  <div class="block new-block">
    <p> + Add new task</p>
  </div> 
<% end %>
