<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to 'Boards', root_path %>
      </div>
      <div class="header-right">
        <%= image_tag 'Oval.png', class: 'user-icon'%>
      </div>

    
    </header>
    <div class="container">
      <% if flash.present? %>
        <div class="flash">
          <% flash.each do |key, value| %>
            <div class="<%= key %>"><%= value %></div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
